# Shopify Storefront API
VITE_SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
VITE_SHOPIFY_STOREFRONT_TOKEN=your_public_storefront_token
VITE_SHOPIFY_API_VERSION=2026-04

# Shopify Customer Account API
VITE_SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_ID=your_client_id
VITE_SHOPIFY_CUSTOMER_ACCOUNT_URL=https://shopify.com/authentication/YOUR_SHOP_ID
